*{
    background-color: black;
    color: skyblue;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.navBar{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 1px solid gray;
    gap: 30px;
}

.abt{
    /* width: 80%; */
    /* border: 1px solid; */
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    text-align: center;
    /* display: flex; */
    padding: 0;
    border-bottom: 0.5px solid gray;
    padding-bottom: 20px;
    
}
.abt img{
    margin-top: 50px;
    border: 5px solid;
    border-radius: 50%;
}

.abt button{
    border: 1px solid;
    border-radius: 20px;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    height: 30px;
    text-decoration: none;
    margin-top: 0;
}

.me{
    margin-top: 50px;
}

.exp{
    /* border: 1px solid; */
    text-align: center;
    /* display: flex; */
    margin-top: 80px;
    border-bottom: 0.5px solid gray;
    padding-bottom: 20px;
}

.exp img{
    border: none;
    justify-content: space-between;
    gap: 40px;
    margin: 10px;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    border-radius: 10px;
}

.pro{
    /* border: 1px solid; */
    text-align: center;
}

.pro img{
    border: 1px solid;
    margin: 25px;
    height: 220px;
    width: 250px;
    margin-top: 10px;
}

.fig{
    /* border: 1px solid; */
    display: flex;
    text-align: center;
    justify-content: center;
}

.connect{
    /* border: 1px solid; */
    text-align: center;
    margin-top: 100px;
}

.connect img{
    border: 1px solid;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 20px;
}